{% extends 'Base/usuarios.html' %}

{% block content %}
    {% if usuario %}
    
    <div class="container">
            <center>
                <br>
                <h4> Usuarios </h4>
            </center>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td> ID </td>
                            <td> Nombre </td>
                            <td> Apellidos </td>
                            <td> Correo </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                            {% for x in usuario %}
                                <tr>
                                    
                                    <td><a href="view/{{ x.id }}">{{ x.id }}</a>  </td>
                                    <td><a href="view/{{ x.id }}"> {{ x.nombre_usuario }}</a> </td>
                                    <td><a href="view/{{ x.id }}"> {{ x.apellido_paterno_usuario}} {{ x.apellido_materno_usuario}}</a> </td>
                                    <td><a href="view/{{ x.id }}"> {{ x.correo_usuario }}</a> </td>
                                    <td> <a href="update/{{ x.id }}" class="btn btn-ligth">Editar</a> </td>
                                    <td> <a href="delete/{{ x.id }}" class="btn btn-ligth">Borrar</a> </td>
                                </tr>
                            {% endfor %}
                        
                    </tbody>
                </table>
              </div>
        {% else %}
            <center>
                <br><br>
                <h1>Aqui no hay nada que mostrar</h1>            
                <h6>Añade un nuevo registro con el botón de arriba</h6>
            </center>
        {% endif %}
    </div>
{% endblock %}