#fondoLogin{
    background-image: url(/static/Files/Images/fondo-login.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   }