{% extends 'Base/master.html' %}

{% block content %}
<div class="container">
    <form method="POST">
        Se ha hecho una trducción automatica de los datos en español. <br>
        Queda a criterio del usuario si usar esta traduccion o si añadir una propia<br><br>
        {% csrf_token %}
        {{ contexto.as_p}}
        <strong>Nombre:</strong> {{ productos.nombre }} <br>
        <strong>Marca:</strong> {{ productos.marca }} <br>
        {% if producto.presentacion == '1' %}
            <strong>Presentacion:</strong> 100 g <br>    
        {% elif producto.presentacion == '2' %}
            <strong>Presentacion:</strong> 50 g <br>    
        {% elif producto.presentacion == '3' %}
            <strong>Presentacion:</strong> 25 g <br>    
        {% endif %}
        {% if producto.tipo == '1' %}
            <strong>Presentacion:</strong> Cream <br>    
        {% else %}
            <strong>Presentacion:</strong> Others <br>    
        {% endif %}
        <strong>Descripcion:</strong> {{ productos.descripcion }} <br>
        <strong>Recomendacion:</strong> {{ productos.recomendacion }} <br>
        <strong>Beneficios:</strong> {{ productos.beneficios }} <br><br><br>
        <button class="btn btn-primary" type="submit">Guardar traduccion</button>
    </form>
    <br><a class="btn <a name="" id="" class="btn btn-primary" href="/productos/others" role="button">Editar traduccion (Añadir una propia)</a>
</div>



{% endblock %}
