{% extends 'Base/main.html' %}

{% block body %}
<div class="text-center pt-2 pb-4" id="fondoLogin">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-6 col-10 bg-white p-5">
          <h1 class="mb-4">Inicia sesión</h1>
          <form>
            <div class="form-group"> <input type="email" class="form-control" placeholder="Usuario" id="form9"> </div>
            <div class="form-group mb-3"> <input type="password" class="form-control" placeholder="Contraseña" id="form10"> </div> <button type="submit" class="btn btn-primary">Entrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}