{% extends 'Base/master.html' %}

{% block content %} 
<div class="py-5">
    <div class="container">
        <div class="row" >
            <div class="col-md-3">
                <img class="img-fluid p-3" src="/static/Files/Icons/002-laptop.png"/>
                <center>
                    <h3>Productos</h3>
                    <a href="/productos/">Ver más...</a>
                </center>
            </div>
            
            <div class="col-md-3">
                <img class="img-fluid p-3" src="/static/Files/Icons/040-analysis.png"/>
                <center>
                    <h3>Ventas</h3>
                    <a href="/ventas/">Ver más...</a>
                </center>
            </div>
        </div>
    </div>
</div>    
{% endblock %}
    
