{% extends 'Base/master.html' %}

{% block content %} 
<div class="py-5">
    <div class="container">
        <div class="row" >
            <div class="col-md-3">
                <img class="img-fluid p-3" src="/static/Files/Icons/002-laptop.png"/>
                <center>
                    <h3>Productos</h3>
                    <a href="/productos/">Ver más...</a>
                </center>
            </div>
            <div class="col-md-3">
                <img class="img-fluid p-3" src="/static/Files/Icons/012-teamwork.png"/>
                <center>
                    <h3>Usuarios</h3>
                    <a href="/usuarios/">Ver más...</a>
                </center>
            </div>
            <div class="col-md-3">
                <img class="img-fluid p-3" src="/static/Files/Icons/040-analysis.png"/>
                <center>
                    <h3>Ventas</h3>
                    <a href="/ventas/">Ver más...</a>
                </center>
            </div>
            <div class="col-md-3">
                <img class="img-fluid p-3" src="/static/Files/Icons/013-experience.png"/>
                <center>
                    <h3>Suscriptores</h3>
                    <a href="/suscriptores/">Ver más...</a>
                </center>
            </div>
        </div>
    </div>
</div>    
{% endblock %}
    
