{% extends 'Base/master.html' %}
{% block content %}


<div class="text-center pt-2 pb-4 section-parallax" id="fondoLogin"><br>
    <div class="container">
        <div class="row">
            <div class="mx-auto col-md-6 col-10 bg-white p-5">
                    <p>Hemos enviado un link a tu correo con las instrucciones de reinicio. <br>
                        Deberia llegar en unos momentos, de no ser asi, verifica el correo de spam.
                    </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}