{% extends 'Base/master.html' %}
{% block content %}
<div class="text-center pt-2 pb-4 section-parallax" id="fondoLogin"><br>
    <div class="container">
        <div class="row">
            <div class="mx-auto col-md-6 col-10 bg-white p-5">
            
            
    {% if validlink %}
        <p>Por favor, ingresa y verifica tu nueva contraseña.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nueva contraseña:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirma tu contraseña:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Algo salio mal</h1>
        <p>
            El link para reiniciar la contraseña es invalido. <br> 
            Puede ser que ya ha sido usado antes o sea incorrecto. <br>
            Intentalo de nuevo o solicita un nuevo link para reestablecer tu contraseña.<br> 
            Disculpa las molestas
        </p>
    {% endif %}
</div>
</div>
</div>
</div>
{% endblock %}